<ul id="options">
  <li class="option-item light-bottom-border">
    <div class="row">
      <div class="small-6 columns">
        <a href="#">
          <div class="row"><div class="small-12 columns name">Med Health Services</div></div>
          <div class="row"><div class="small-12 columns location">9816 Frankstown Road, 15236</div></div>
          <div class="row"><div class="small-12 columns location">2 miles from you</div></div>
        </a>
      </div>
      <div class="small-6 columns center-everything">
        <div class="row">
          <div class="small-12 columns">
            <div class="price-tag price"></div>
            <div class="charge-price price">$25</div>
            <div class="dark-gray price"> | </div>
            <div class="insurance-price price">$35</div>
          </div>
        </div>
      </div>
    </div> 
  </li>

  <li class="option-item light-bottom-border">
    <div class="row">
      <div class="small-6 columns">
        <a href="#">
          <div class="row"><div class="small-12 columns name">Med Health Services</div></div>
          <div class="row"><div class="small-12 columns location">9816 Frankstown Road, 15236</div></div>
          <div class="row"><div class="small-12 columns location">2 miles from you</div></div>
        </a>
      </div>
      <div class="small-6 columns center-everything">
        <div class="row">
          <div class="small-12 columns">
            <div class="price-tag price"></div>
            <div class="charge-price price">$25</div>
            <div class="dark-gray price"> | </div>
            <div class="insurance-price price">$35</div>
          </div>
        </div>
      </div>
    </div> 
  </li>

  <li class="option-item light-bottom-border">
    <div class="row">
      <div class="small-6 columns">
        <a href="#">
          <div class="row"><div class="small-12 columns name">Med Health Services</div></div>
          <div class="row"><div class="small-12 columns location">9816 Frankstown Road, 15236</div></div>
          <div class="row"><div class="small-12 columns location">2 miles from you</div></div>
        </a>
      </div>
      <div class="small-6 columns center-everything">
        <div class="row">
          <div class="small-12 columns">
            <div class="price-tag price"></div>
            <div class="charge-price price">$25</div>
            <div class="dark-gray price"> | </div>
            <div class="insurance-price price">$35</div>
          </div>
        </div>
      </div>
    </div> 
  </li>
</ul>