html {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

/*********************************************** top bar ***********************************************/
.top-bar {
  padding: 12px 8px;
}

#view-toggle {
  color: $orange;
  text-decoration: underline;
  font-size: 14px;
}

/********************************************** search **********************************************/
#procedure{
    padding: 8px 0px 8px 5px;
    width: 85%;
    font-size: 17px;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    margin-bottom: 0;
    color: $dark-gray;
    outline: none;
    background: $white;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}

input::placeholder {
  color: $dark-gray;
}

textarea:focus, input:focus{
  outline: none;
}

#search-details-wrapper {
  font-size: 15px;
}

#search-details, #search-by {
  padding: 15px 5px 15px ; 
}

/********************************************** map **********************************************/
html, body, .off-canvas-wrapper, .off-canvas-content, #map-row {
  height: 94.5%;
}

#bottomDiv {
	height: 350px; //note that this is more than what is specified in settings.scss (for off-canvas), forces the top of the div to show at the bottom of the screen
} 

#map {
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  height: 100%;
}

#directions-map-wrapper {
  height: 60%;
}

/********************************************** results/options **********************************************/

#options {
  list-style: none;
  color: $dark-gray;
}

.option-item {
  padding: 15px 0px;
}

.info-charge, .info-avg {
  display: inline-block;
  font-size: 13px;
  padding-left: 40px;
}

.info-positioning {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.charge-price {
  color: $orange;
}

.insurance-price {
  color: $green;
}

.price {
  font-size: 30px;
  display: inline-block;
}

.name {
  color: $dark-gray;
  font-size: 18px;
  line-height: 21px;
}

.location {
  color: $dark-gray;
  font-size: 12px;
  line-height: 14px;
}

.title {
  font-size: 21px;
  color: $blue;
  font-weight: bold;
}

/********************************************** details about a result/option **********************************************/

#details-wrapper {
  height: 40%;
  padding: 0 15px;
  color: $dark-gray;
}

#details-name {
  font-size: 26px;
  font-weight: bold;
  line-height: 31px;
}

#details-location {
  font-size: 18px;
  line-height: 23px;
}

#details-directions {
  text-decoration: underline;
}

.details-price {
  font-size: 48px;
  display: inline-block;
  padding: 0 10px;
}

/********************************************** general style stuff ***********************************************/
.center {
  display: flex;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.dark-gray {
  color: $dark-gray;
}

.light-gray {
  color: $light-gray;
}

.no-horizontal-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.some-vertical-padding {
  padding: 15px 0px 0px 0px;  
}

.center-everything {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.no-padding {
  padding: 0;
}

.center-text {
  text-align: center;  
}

.full-width {
  max-width: 100%;
}

.light-bottom-border {
  border-bottom: 1px solid $light-gray;
}
.heavy-bottom-border {
  border-bottom: 3px solid $light-gray;
}

#blank-blue-row {
  height: 100%;
  background-color: $blue;
}

/*********************************************** icons/pictures/buttons ***********************************************/
#back-icon {
  background: white url(https://dl.dropboxusercontent.com/s/ib7pujsvodop16y/back-arrow.png?dl=0) center no-repeat;
  height: 25px;
  left: -25px;
  position: relative;
  width: 100%;
}

.price-tag {
  background: white url(https://dl.dropboxusercontent.com/s/714lngd1rqt5y81/price-tag.png?dl=0) center no-repeat;
  border: 0 none;
  height: 22px;
  padding: 0;
  text-align: center;
  width: 35px;
}

#directions-icon {
  background: white url(https://dl.dropboxusercontent.com/s/kgo1zoavgbj2qbe/directions-logo.png?dl=0) center no-repeat;
  height: 65px;
  width: 100%;
}

#call-button-wrapper {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#call-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  align-items: center;
  background-color: $orange;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  width: 100%;
}

#search-button {
  background: white url(https://dl.dropboxusercontent.com/s/briypj1tztrcj34/search.png?dl=0) center no-repeat;
  border: 0 none;
  cursor: pointer;
  float: left;
  height: 52px;
  padding: 0;
  text-align: center;
  width: 15%;
}

#info-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#info {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid $blue;
  color: $blue;
  font-size: 15px;
  height: 22px;
  width: 22px;
}
