html {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

/* make google map fill screen */
html, body, .off-canvas-wrapper, .off-canvas-content, #map-row {
  height: 100%;
}

#bottomDiv {
	height: 320px; //note that this is 100px more than what is specified in settings.scss, forces the top of the div to show at the bottom of the screen
}
.price {
	font-size: 40px;
}
.name {
	font-size: 25px;
}
.location {
	font-size: 13px;
}
.title {
	font-size: 45px;
}

.no-padding {
	padding: 0;
}
.full-width {
	max-width: 100%;
}
.slider {
	width: 90vw;
	margin: auto;
}
.top-bar, .search {
	border-bottom: 1px solid black;;
}
.top-bar, .off-canvas-content, .search {
	text-align: center;
}
.search {
	padding: 20px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

#map {
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  height: 80%;
}

.bubble-speech {
  position: relative;
  margin: auto;
  background-color: #efefef;
  padding: 5px;
}
.bubble-speech.bubble-left:after {
  z-index: 9002;
  display: block;
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  border-top: 0 #efefef solid;
  border-bottom: 12px transparent solid;
  border-left: 20px #efefef solid;
}

/* search */
#search {
    width: 357px;
    margin: 4px;
}
#search_text{
    width: 297px;
    padding: 0 0 0 20px;
    font-size: 18px;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    margin-bottom: 0;
    color: black;
    outline: none;
    background: white;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}

#search_button {
    border: 0 none;
    background: white url(https://dl.dropboxusercontent.com/s/briypj1tztrcj34/search.png?dl=0) center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}

input::placeholder {
  color: black;
}

textarea:focus, input:focus{
    outline: none;
}

#search-details-wrapper {
  font-size: 15px;
}

#search-details, #search-by {
  padding: 20px 5px 20px ; 
}